.homepageMenu {
    position: relative;
}

.homepageTitle {
    color:black;
    margin-left: 432px;
    margin-top: 63px;
    font-family: Arial, Helvetica, sans-serif;
}
.play{
    height: 40px;
    width: 40px;
    margin-left: 468px;
    margin-top: 400px;
    margin-bottom: 500px;

}
.replay{
    height: 40px;
    width: 40px;
    margin-left: 64px;
    margin-top: 400px;
    margin-bottom: 500px;
}
.homeMainText{
    color: #5EC8F2;
    font-size: 100px;
    font-weight: bold;
    margin-top: -780px;
    margin-left: 410px;
}
.progressBarBack{
    display: flex;
    margin-top: 32px;
    margin-left: 160px;
    height: 5%;
    width: 70%;
    border-radius: 19999999px;
    background-color:#DAE1E0;
}
.progressBar{
    display: flex;
    height: 100%;
    width: 80%;
    border-radius: 19999999px;
    background-color:#0389A6;
}